

<div class="wrap">
    <div class="insider">
        <button class="plus" (click) = "divUnhide()">+</button>
    </div>
    
    
    <div class="container-fluid" [ngClass] = "{'show': this.isHidden == false}">
        <div class="showHid">
                <div>
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)] = "getContent.dayList[getContent.activeIndex].title">
                    </div>
                    <div class="form-group">
                      <label for="type">Type</label>
                      <select class="form-control" id="type">
                        <option>TASK</option>
                        <option>PRE-READ</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="content">Content</label>
                      <textarea class="form-control" id="content" rows="3" [(ngModel)] = "getContent.dayList[getContent.activeIndex].content"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="instructions">Instructions for Mentor</label>
                      <textarea class="form-control" id="instructions" rows="3" [(ngModel)] = "getContent.dayList[getContent.activeIndex].instructions"></textarea>
                    </div>
                </div>
                <button class="save" (click) = "save()" (click) = "getContent.createTitle()">save</button>
        </div>
    </div>

    <div class="viewContent">
        <div class="topicName">
            <p>TOPIC</p>
        </div>
        <div *ngFor = "let i of getContent.titles; let j = index" class="topicContent">
          <li class ="listGroup" (click)="getContent.selectContent(j)" [ngClass]="{'active': getContent.activeContent == j}">{{i}}</li>
        </div>
    </div>
</div>
